header {
    display: none !important;
}

@media screen and (max-width: 899px){
    .leftSide {
        display: none;
    }
}

@media screen and (min-width: 1800px){
    .imgconfig {
        width: 100%;
        height: 300px;
    }
}

